body, html {
    background-color: black !important;
    height: 100%;
    margin: 0;
    padding: 0;
}

.chequered-flag {
    width: 97vw;
    height: 50px;
    background-image: url('/assets/chequered_flag_cut.jpg');
    background-size: contain;
    background-repeat: repeat-x;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    left: 0;
    
}

h1 {
    width: 75vw;
    margin: 0 auto;
    text-align: center;
}

p {
    font-size: 19px;
    line-height: 1.5;
    width: 87%;
    margin: 0 auto;
    text-align: justify;
}

.info-text p {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}