body, html {
    background-color: black !important;
    height: 100%;
    margin: 0;
    padding: 0;
}

.chequered-flag {
    width: 99vw;
    height: 50px;
    background-image: url('/assets/chequered_flag_cut.jpg');
    background-size: contain;
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
}

p {
    font-size: 18px;
    line-height: 1.6;
    width: 93%;
    margin: 0 auto;
    text-align: justify;
}